<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <br><br>
    <ul class="list-unstyled components">
      <h3 style="border-bottom-style: solid;">Browse</h3><br>
      <p>Category</p>
      <div *ngFor="let category of categories" class="entry">
        <li>
          <button type="button"  id="getCategoryButton" class="btn btn-success" (click)="getItemsInCategory(category.id)">{{category.name}}</button>
        </li>
      </div>
      <li>
        <button type="button"  id="getCategoryButton" class="btn btn-success" (click)="getSaleItems()">SALE</button>
      </li>
    </ul>
  </nav>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
      <div id="contentItems" class="row">
        <app-item-entity [items]="items"></app-item-entity>
      </div>
    </div>
  </div>
</div>
