.counter{
    padding-left: 4%;
    padding-right: 4%;
}

h2{
    border-bottom: solid;
    width: fit-content;
    margin-left: 1%;
    padding-right: 5%;
}

h3{
    margin-left: 1%;
}

.cartItem{
    border-radius: 10px;
    padding: 0.5%;
    margin: 0.5%;
    padding-left: 1%;
    padding-right: 2%;
    border: lightgray solid 1px;
    width: 30%;
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
}

.content{
    min-width: fit-content;
    white-space:nowrap;
}

.mybtn{
    background-color: #3fa46a;
    border-color: green;
}

.link{
    color: #3fa46a;
}

.qte{
    border: black solid 1px;
    background-color: white;
    margin-left: 1%;
    margin-right: 1%;
}