<h2>Your cart</h2>
<div *ngFor="let item of items">
    <div *ngIf="item != null" class="cartItem">
        <div class="content">
            <div><a class="link" href="/items?item={{item.id}}">{{item.name}}</a></div>
            <div>{{item.price | currency}}/unit</div>
        </div>
        <div class="content">
            <div>
                <span class="counter">
                    <button class="btn-primary mybtn" (click)="add(item.id)">+</button>
                    <span class="qte"> {{item.qte}} </span>
                    <button class="btn-primary mybtn" (click)="remove(item.id)">-</button>
                </span>
                <button class="btn-danger mybtn" (click)="delete(item.id)">Delete</button>
            </div>
            <div>
                Total {{(item.price * item.qte) | currency}}
            </div>
        </div>
    </div>
</div>
<h3 *ngIf="items[0] == null">
    Your cart is empty!
</h3>
<h3 *ngIf="items[0] != null">
    Cart total: {{cartTotal() | currency}}

    <div class="payPal">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="sales@falletiwholesale.com">
        <input type="hidden" name="lc" value="US">

        <!-- Replace the value by the id generated in the back end - add back-end buy api -->
        <input type="hidden" name="item_number" value="{{salesId}}">
        <input type="hidden" name="amount" value="{{cartTotal()}}">
        
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <input type="image" (click)="openPaypal()" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    </div>
        
        
</h3>