<h2>Your cart</h2>
<div *ngFor="let item of items">
    <div *ngIf="item != null" class="cartItem">
        <div class="content">
            <div><a class="link" href="/items?item={{item.id}}">{{item.name}}</a></div>
            <div>{{item.price | currency}}/unit</div>
        </div>
        <div class="content">
            <div>
                <span class="counter">
                    <button class="btn-primary mybtn" (click)="add(item.id)">+</button>
                    <span class="qte"> {{item.qte}} </span>
                    <button class="btn-primary mybtn" (click)="remove(item.id)">-</button>
                </span>
                <button class="btn-danger mybtn" (click)="delete(item.id)">Delete</button>
            </div>
            <div>
                Total {{(item.price * item.qte) | currency}}
            </div>
        </div>
    </div>
</div>
<h3 *ngIf="items[0] == null">
    Your cart is empty!
</h3>
<h3 *ngIf="items[0] != null">
    Cart total: {{cartTotal() | currency}}
</h3>