<div class="container">
    <h2 class="text-center bg-success text-white"></h2>
    <div class="row" style="margin-top:30px">
        <div class="col-md-3 col-xs-6" *ngFor="let item of items">
            <div class="card">
                <div class="card-body">
                    <img src={{item.image}} alt="alternatetext" class="img-fluid">
                    <h3 class="card-title">{{ item.name }}</h3>
                    <p class="card-price" [class.card-price-disc]="hasDiscount(item.percentage)">{{ item.price| currency: 'CAD' : '$' }}</p>                   
                </div>
            </div>
        </div>
    </div>
</div>