#bannerimage {
  width: 100%;
  background-image: url(https://image.freepik.com/free-photo/colorful-healthy-unhealthy-food-white-textured-background_23-2147885658.jpg);
  background-repeat:no-repeat;
  background-color: grey;
  background-size:cover;
  padding-top:500px;
  height: 405px;
  background-position: center;
}
