<div class="center">
  <h1 id="banner">SUMMER SAVINGS</h1><br>
  <p>	There’s no better time than summer to give new staples a whirl. Try these summer 	favorites like cauliflower hash browns, Beyond Burger patties, dairy-free yogurt and more!</p>
</div>
<table id="section">
  <tr>
    <td id="about">
      <h1>Frozen favorites 25% off!</h1>
      <button class="seeDealsButton" (click)="getFeaturedSaleItems(4)">See deals</button><br>
    </td>
    <td id="img1"></td>
  </tr>
</table>
<table id="section">
  <tr>
    <td id="img3"></td>
    <td id="about">
      <h1>Friday only! Sales on your snack essentials. Exclusions apply.</h1>
      <button class="seeDealsButton" (click)="getFeaturedSaleItems(5)">See deals</button><br>
    </td>
  </tr>
</table>
<table id="section">
  <tr>
    <td id="about">
      <h1>Vegetarian and Vegan items 25% off!</h1>
      <button class="seeDealsButton" (click)="getFeaturedSaleItems(1)">See deals</button><br>
    </td>
    <td id="img2"></td>
  </tr>
</table>

